# 3. Lists()

* Lists are ordered
* Lists can contain any arbitrary objects.
* List elements can be accessed by index.
* Lists can be nested to arbitrary depth.
* Lists are mutable.
* Lists are dynamic.

In [1]:
nlis=["Python",25,2022,3.147]
print(nlis)
print(type(nlis))

['Python', 25, 2022, 3.147]
<class 'list'>

In [2]:
print("positive index:",nlis[0],"Negative index:",nlis[-4])
print("positive index:",nlis[1],"Negative index:",nlis[-3])
print("positive index:",nlis[2],"Negative index:",nlis[-2])
print("positive index:",nlis[3],"Negative index:",nlis[-1])

positive index: Python Negative index: Python
positive index: 25 Negative index: 25
positive index: 2022 Negative index: 2022
positive index: 3.147 Negative index: 3.147

#  What can content a list?

* Strings
* Floats
* Integers
* Boolean
* Nested Lists
* Nested Tuples
* Other data structures.

In [3]:
nlis_1=["Python",3.147,[1,1,2,3,5,8,12,23,34],("hello",'python',3.147,2022)]
nlis_1

['Python',
 3.147,
 [1, 1, 2, 3, 5, 8, 12, 23, 34],
 ('hello', 'python', 3.147, 2022)]

# List Operation

In [4]:
# Lenth of list
len(nlis_1)

4

In [5]:
# Slicing of a list
print(nlis_1[0:1])
print(nlis_1[1:2])
print(nlis_1[2:3])
print(nlis_1[3:])

['Python']
[3.147]
[[1, 1, 2, 3, 5, 8, 12, 23, 34]]
[('hello', 'python', 3.147, 2022)]

# Extending the list

* We use the extend() function to add a new elements to the list.
* With this function, we add more than one elements to the list.

In [6]:
# take the list
nlis_2=["Python",3.147,[1,1,2,3,5,8,12,23,34],("hello",'python',3.147,2022)]
nlis_2.extend(['Hello World',1.618])
nlis_2

['Python',
 3.147,
 [1, 1, 2, 3, 5, 8, 12, 23, 34],
 ('hello', 'python', 3.147, 2022),
 'Hello World',
 1.618]

In [7]:
nlis_2.extend(["Kartik","Ayush"])
nlis_2

['Python',
 3.147,
 [1, 1, 2, 3, 5, 8, 12, 23, 34],
 ('hello', 'python', 3.147, 2022),
 'Hello World',
 1.618,
 'Kartik',
 'Ayush']

# append() method

* As different from the extend() method, with the append() method, we add only one element to the list.
* You can see the difference by comparing the above and below codes.
* It add the data in the new list.

In [8]:
nlis_3=["Python",3.147,[1,1,2,3,5,8,12,23,34],("hello",'python',3.147,2022)]
nlis_3.append(["Hello World",1.618])
nlis_3

['Python',
 3.147,
 [1, 1, 2, 3, 5, 8, 12, 23, 34],
 ('hello', 'python', 3.147, 2022),
 ['Hello World', 1.618]]

# len(),append(),count(), index(), insert(), max(), min(), sum() functions

In [9]:
nlis_4=[1,2,3,4,5,6,7,10,100,10000]
print(len(nlis_4))
nlis_4.append([4]) # append add the data after creating the list.
print(nlis_4)
print(nlis_4.count(4)) # How many 4 are on the list "nlis"
print(nlis_4.index(10000)) # What is the index of the number 10000 in the list.
nlis_4.insert(8,100)    # Add number 100 to the index 8
print(nlis_4)

10
[1, 2, 3, 4, 5, 6, 7, 10, 100, 10000, [4]]
1
9
[1, 2, 3, 4, 5, 6, 7, 10, 100, 100, 10000, [4]]

In [10]:
nlis_5=[1,2,3,4,5,6,7,10,100,10000]
print(max(nlis_5))   # Maximum number in the list
print(min(nlis_5))   # Minimum number in the list
print(sum(nlis_5))   # Sum of the number in the list

10000
1
10138

# Changing the element of a list since it is mutable.

In [11]:
nlis=["Python",3.147,[1,1,2,3,5,8,12,23,34],("hello",'python',3.147,2022)]
print("Before changing ",nlis)
nlis[0]="Hello Pyhton!"
print("After Changing1 ", nlis)
nlis[1]=1.618
print("After Changing2 ",nlis)
nlis[2]=[3.147,2022]
print("After Changing3 ",nlis)

Before changing  ['Python', 3.147, [1, 1, 2, 3, 5, 8, 12, 23, 34], ('hello', 'python', 3.147, 2022)]
After Changing1  ['Hello Pyhton!', 3.147, [1, 1, 2, 3, 5, 8, 12, 23, 34], ('hello', 'python', 3.147, 2022)]
After Changing2  ['Hello Pyhton!', 1.618, [1, 1, 2, 3, 5, 8, 12, 23, 34], ('hello', 'python', 3.147, 2022)]
After Changing3  ['Hello Pyhton!', 1.618, [3.147, 2022], ('hello', 'python', 3.147, 2022)]

# Deleting the element from the list using del() function

In [12]:
nlis_6=["Python",3.147,[1,1,2,3,5,8,12,23,34],("hello",'python',3.147,2022)]
print("Before Changing ",nlis_6)
del(nlis_6[0])

print("After Changing ",nlis_6)
del(nlis_6[-1])
print("After Changing ",nlis_6)

Before Changing  ['Python', 3.147, [1, 1, 2, 3, 5, 8, 12, 23, 34], ('hello', 'python', 3.147, 2022)]
After Changing  [3.147, [1, 1, 2, 3, 5, 8, 12, 23, 34], ('hello', 'python', 3.147, 2022)]
After Changing  [3.147, [1, 1, 2, 3, 5, 8, 12, 23, 34]]

In [13]:
nlis_7=["Python",3.147,[1,1,2,3,5,8,12,23,34],("hello",'python',3.147,2022)]
print("Before Deleting ",nlis_7)
del(nlis_7)
print("After Deleting ",nlis_7)

Before Deleting  ['Python', 3.147, [1, 1, 2, 3, 5, 8, 12, 23, 34], ('hello', 'python', 3.147, 2022)]

NameError: name 'nlis_7' is not defined

# Conversion of a string into a list using split() function

In [ ]:
message=("Python is a programming language")
message.split()

In [ ]:
text='P,y,t,h,o,n'
text.split()

# Basic Operations

In [ ]:
nlis_8=['a','b','c','hello','python']
nlis_9=[1,2,3,4,5,6]
print(len(nlis_8))
print(len(nlis_9))
print(nlis_8+nlis_9)
print(nlis_8*3)
print(nlis_9*3)

for i in nlis_8:
    print(i)   # Loops

for i in nlis_9:
    print(i)
print(4 in nlis_8)  # Check out in the list
print(4 in nlis_9) # Check out in the list

# Copy the list

In [ ]:
nlis_10=["Python",3.147,[1,1,2,3,5,8,12,23,34],("hello",'python',3.147,2022)]
copy_list=nlis_10
print("nlis_10: ",nlis_10)
print("copy_list: ",copy_list)

In [ ]:
# The element in the copied list is also changes when the element in the original list was changed:
# See the examples

nlis_11=["Python",3.147,[1,1,2,3,5,8,12,23,34],("hello",'python',3.147,2022)]
print(nlis_11)
copy_list1=nlis_11
print(copy_list1)
print("copy_list1: ",copy_list1[0])
nlis_11[0]="Hello Python"
print("copy_list1:",copy_list1[0])

# As different from the list, I also find siginificant the following information.

* input() function in Python provides a user of a program supply inputs to the program at runtime.

In [14]:
text=input("Enter a string ")
print("The text is ",text)

Enter a string Kartik
The text is  Kartik

In [15]:
text1=input("Enter a string")
print("The text is ",text1)
print(type(text1))

Enter a stringkatrina
The text is  katrina
<class 'str'>

In [18]:
#Although the function wants an integer, the type of the entered number is a string.
number = input("Enter an integer")
print("The number is ",number)
print(type(number))

Enter an integer123
The number is  123
<class 'str'>

In [21]:
# print string to integer number
number1 = int(input("Enter an integer"))
print("The number is ",number1)
print(type(number1))

Enter an integer8585236
The number is  8585236
<class 'int'>

In [23]:
# print string to float number
number2=float(input("Enter a float number "))
print("The float number is ", number2)
print(type(number2))

Enter a float number 343
The float number is  343.0
<class 'float'>

# eval() function

* This function serves the aim of converting a string to an integer or a float

In [25]:
expression='8+7'
total=eval(expression)
print('The total expression is ',total)
print(type(expression))
print(type(total))

The total expression is  15
<class 'str'>
<class 'int'>

In [29]:
expression=input("Enter the expression ")
total=eval(expression)
print('The total expression is ',total)
print(type(expression))
print(type(total))

Enter the expression 8888888888888888888888888888888888888*88888888888
The total expression is  790123456782222222222222222222222222143209876544
<class 'str'>
<class 'int'>

# format() function

* This function helps to format the output printed on the screen with good look and attractive.

In [32]:
# string formatting
a=float(input("Enter the number"))
b=float(input("Enter the second number"))
total= a+b
print('Sum of {} and {} is {}.'.format(a,b,total))

Enter the number14
Enter the second number12
Sum of 14.0 and 12.0 is 26.0.

In [34]:
#ayush
a1=int(input("ent 1st no. "))
b1=int(input("enter 2nd no. "))
sub=a1-b1
print('sub is {} and {} is {}.'.format(a1,b1,sub))

ent 1st no. 12
enter 2nd no. 13
sub is 12 and 13 is -1.

In [41]:
a=3.14
b=1.618
print("a>b is:",a>b)
print("a<b is:",a<b)
print("a<=b:",a<=b)
print("a>=b:",a>=b)
print("a==b:",a==b)
print("a!=b:",a!=b)

a>b is: True
a<b is: False
a<=b: False
a>=b: True
a==b: False
a!=b: True

# Logical operators

* The Operators including and, or, not are utilised to bring two conditions together  and access them. 
* The output returns True or False

In [50]:
# conditions
a=3.14
b= 1.618
c= 12
d=3.14
print(a>b and c>a)
print(b>c and d>a)
print(b<c or d>a)
print(not a==b)
print(not a==d)

True
False
True
True
False

# Assignment operators

* The operators including =,+=,-=,=,/=,%=,//=,*=,&=,^=,>>=, and <<= etc are employed to evaluate
* a value to a variable

In [51]:
x=3.14
x+=5
print(x)

8.14

In [52]:
x=3.14
x-=5
print(x)

-1.8599999999999999

In [53]:
x=3.14
x*=5
print(x)

15.700000000000001

In [54]:
x=3.14
x/=5
print(x)

0.628

In [55]:
x=3.14
x%=5
print(x)

3.14

In [61]:
x1=3.14
x1//=5
print(x1)

0.0

In [59]:
x2=50
x2//=5
print(x2)

10

In [62]:
x=3.14
x**=5
print(x)

305.2447761824001