# Tuples in Python

* Tuples are immutable lists and can not be changed in any way once it is created.

* Tuples are defined in the same way as lists.

* They are enclosed within parenthesis and not within square braces. ()

* Tuples are ordered, indexed collections of data.

* Similar to string indices, the first value in the tuple will have the index[0], the second value[1]

* Negative indices are counted from the end of the tuples, just like lists.

* Tuples also has the same structure where commas separate the values.

* Tuples can store duplicate values.

* Tuples allow you to store several data items including string, integer, float in one variables.

In [4]:
# Take a tuples
tuple_1=('Hello','Python',3.14,1.618,True,False,32,[1,2,3],{1,2,3},{'A':3,'B':8},(0,1),"Python")
tuple_1

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 8},
 (0, 1),
 'Python')

In [5]:
print(type(tuple_1))
print(len(tuple_1))

<class 'tuple'>
12

In [21]:
print(tuple_1[0])
print(tuple_1[1])
print(tuple_1[2])
print(tuple_1[3])
print(tuple_1[4])
print(tuple_1[5])
print(tuple_1[6])
print(tuple_1[7])
print(tuple_1[8])
print(tuple_1[9])
print(tuple_1[10])
print(tuple_1[11])

Hello
Python
3.14
1.618
True
False
32
[1, 2, 3]
{1, 2, 3}
{'A': 3, 'B': 8}
(0, 1)
Python

In [23]:
# type
print(type(tuple_1[0]))
print(type(tuple_1[1]))
print(type(tuple_1[2]))
print(type(tuple_1[3]))
print(type(tuple_1[4]))
print(type(tuple_1[5]))
print(type(tuple_1[6]))
print(type(tuple_1[7]))
print(type(tuple_1[8]))
print(type(tuple_1[9]))
print(type(tuple_1[10]))
print(type(tuple_1[11]))

<class 'str'>
<class 'str'>
<class 'float'>
<class 'float'>
<class 'bool'>
<class 'bool'>
<class 'int'>
<class 'list'>
<class 'set'>
<class 'dict'>
<class 'tuple'>
<class 'str'>

# Concatenation of tuples

* To concatenate tuples + Sing is used

In [25]:
tuple_2=tuple_1+("Hello World",2022)
tuple_2

('Hello',
 'Python',
 3.14,
 1.618,
 True,
 False,
 32,
 [1, 2, 3],
 {1, 2, 3},
 {'A': 3, 'B': 8},
 (0, 1),
 'Python',
 'Hello World',
 2022)

# Repetition of a tuple

In [27]:
rep_tup=(1,2,3,4)
rep_tup*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

# Membership

In [31]:
rep_tup=(1,2,3,4)
print(2 in rep_tup)
print(2 not in rep_tup)
print( 5 in rep_tup)
print( 5 not in rep_tup)

True
False
False
True

# Iteration

In [33]:
rep_tup=(1,2,3,4)
for s in rep_tup:
    print(s)

1
2
3
4

# min () function

In [34]:
rep_tup=(1,2,3,4)
min(rep_tup)

1

In [35]:
# max() function
rep_tup=(1,2,3,4,5,6)
max(rep_tup)

6

In [41]:
# tup(seq) functions
# It converts a specific sequence to a tuple
seq='ATGCTATTGCCAT'
tuple(seq)

('A', 'T', 'G', 'C', 'T', 'A', 'T', 'T', 'G', 'C', 'C', 'A', 'T')

# Slicing

* To obtain a new tuple from the current tuple, the slicing method is used.

In [46]:
# Obtaining a new tuple from the index 2 to index 6.

tuple_1=('Hello','Python',3.14,1.618,True,False,32,[1,2,3],{1,2,3},{'A':3,'B':8},(0,1),"Python")

tuple_1[2:8]

(3.14, 1.618, True, False, 32, [1, 2, 3])

In [47]:
#len() function
tuple_1=('Hello','Python',3.14,1.618,True,False,32,[1,2,3],{1,2,3},{'A':3,'B':8},(0,1),"Python")
len(tuple_1)

12

In [49]:
# Sorting tuple

tuple_3=(0,9,7,4,6,5,9,8,3,1,2) #Accending to descending
sorted_tuple_3=sorted(tuple_3)
sorted_tuple_3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 9]

In [50]:
# Nested tuple
# In python, a tuple written inside another tuple is known as nested tuples.

nested_tuple=('biotechnology',(0,5),('fermantation','ethonal'),('pi',3.147),(1.618,'golden ratio'))
nested_tuple

('biotechnology',
 (0, 5),
 ('fermantation', 'ethonal'),
 ('pi', 3.147),
 (1.618, 'golden ratio'))

In [56]:
print("Item 0 of nested tuple is: ",nested_tuple[0])
print("Item 1 of nested tuple is: ",nested_tuple[1])
print("Item 2 of nested tuple is: ",nested_tuple[2])
print("Item 3 of nested tuple is: ",nested_tuple[3])
print("Item 4 of nested tuple is: ",nested_tuple[4])

Item 0 of nested tuple is:  biotechnology
Item 1 of nested tuple is:  (0, 5)
Item 2 of nested tuple is:  ('fermantation', 'ethonal')
Item 3 of nested tuple is:  ('pi', 3.147)
Item 4 of nested tuple is:  (1.618, 'golden ratio')

In [58]:
# how to print any item in the tuples
nested_tuple=('biotechnology',(0,5),('fermantation','ethonal'),('pi',3.147),(1.618,'golden ratio'))
nested_tuple[2][0]

'fermantation'

In [59]:
nested_tuple=('biotechnology',(0,5),('fermantation','ethonal'),('pi',3.147),(1.618,'golden ratio'))
nested_tuple[3][1]

3.147

# Tuples are immutable

In [62]:
# Take a tuple
tuple_4=(1,3,5,7,8)
tuple_4[0]=9
print(tuple_4)

# The output shows the tuple is immutable

TypeError: 'tuple' object does not support item assignment

# Delete a tuple

* An element in a tuple can not be deleted since it is immutable.
* But a whole tuple can be deleted.

In [63]:
tuple_4=(1,3,5,7,8)
print('Before deleting.',tuple_4)
del tuple_4[0]

# It can not delete the item in the tuple

Before deleting. (1, 3, 5, 7, 8)

TypeError: 'tuple' object doesn't support item deletion

In [64]:
tuple_4=(1,3,5,7,8)
print('Before deleting.',tuple_4)
del tuple_4
print('After deleting.',tuple_4)

Before deleting. (1, 3, 5, 7, 8)

NameError: name 'tuple_4' is not defined

# Count() method

In [4]:
tuple_5=(1,1,3,3,5,5,5,5,6,6,6,7,7,8,8,9)
tuple_5.count(5)
#len(tuple_5)

4

In [12]:
print(tuple_5.index(5))
print(tuple_5.index(1))
print(tuple_5.index(7))
print(tuple_5.index(8))
print(tuple_5.index(9))

4
0
11
13
15

In [15]:
a=[1] #only one item can store list without comma.
a
type(a)

list

In [20]:
b=(1,) # tuple can store one value with comma seperated.
b
type(b)

tuple