#  5. Sets in Python

* Set is one of 4 built-in data types in Python used to store collections of data including List, Tuple, and Dictionary.

* Sets are unordered, but you can remove items and add new items.

* Set elements are unique. Duplicate elements are not allowed.

* A set itself may be modified, but the elements containded in the set must be of an mutable type.

* Sets are used to store multiple items in a single variable.

* You can denote a set with a pair of curly brackets{}.

In [2]:
# The empty set of curly braces denotes the empty dictionary, not empty set.
x={}
x
type(x)

dict

In [10]:
# To take a set without elements, use set() function without any items.
x1=set()
x1
type(x1)

set

In [7]:
# Take a set

set1={'Hello Python!',3.147,'Hello World',3.147,1.618,True, False,2002,2002,2002}
set1

{1.618, 2002, 3.147, False, 'Hello Python!', 'Hello World', True}

In [12]:
# Converting list to set
nlis=['Hello Python!',3.147,'Hello World',3.147,1.618,True, False,2002,2002,2002]

# Convert the list into set
set2=set(nlis)
set2

{1.618, 2002, 3.147, False, 'Hello Python!', 'Hello World', True}

# Set Operations

In [14]:
# Take a set
set3=set(['Hello Python!',3.147,'Hello World',3.147,1.618,True, False,2002,2002,2002])
set3

{1.618, 2002, 3.147, False, 'Hello Python!', 'Hello World', True}

In [15]:
set3.add("Hi,Python")
set3

{1.618, 2002, 3.147, False, 'Hello Python!', 'Hello World', 'Hi,Python', True}

In [16]:
set3.add("Hi,Python")
set3

{1.618, 2002, 3.147, False, 'Hello Python!', 'Hello World', 'Hi,Python', True}

In [18]:
x_set={6,7,8,9}
print(x_set)
x_set.update({3,4,5})
print(x_set)

{8, 9, 6, 7}
{3, 4, 5, 6, 7, 8, 9}

In [19]:
set3.remove('Hello Python!')
set3

{1.618, 2002, 3.147, False, 'Hello World', 'Hi,Python', True}

# Logic operations in Sets

In [23]:
# Take two sets
set4=set(['Hello Python!',3.147,1.618,'Hello World'])
set5=set([3.147,1.618,True, False,2022])

set4,set5

({1.618, 3.147, 'Hello Python!', 'Hello World'},
 {False, True, 1.618, 3.147, 2022})

In [26]:
# Intersection method with '&' sign
intersection=set4&set5
intersection

{1.618, 3.147}

In [27]:
#second method to find intersection
set4.intersection(set5)

{1.618, 3.147}

In [31]:
# difference method

print(set4.difference(set5)) #A-B
print(set5.difference(set4)) #B-A

{'Hello World', 'Hello Python!'}
{False, True, 2022}

In [33]:
# Second Methond of finding difference
print(set4-set5) #A-B
print(set5-set4) #B-A

{'Hello World', 'Hello Python!'}
{False, True, 2022}

In [34]:
#Union method
set4.union(set5)

{1.618, 2022, 3.147, False, 'Hello Python!', 'Hello World', True}

In [36]:
#Symmetric_difference
set4.symmetric_difference(set5)

{2022, False, 'Hello Python!', 'Hello World', True}

# Set comparison

In [39]:
print(set4>set5)
print(set5>set4)
print(set4==set5)

False
False
False

In [47]:
# Min,max and sum fuctions
a=set([1,1,2,2,3,3,4,4,5,5,6,6])
b=set([1,1,2,2,3,3,4,4,5,5,6,6,11])
print('The minimum number of a is ',min(a))
print('The maximum number of b is ',max(b))
print('The maximum number of a is ',max(a))
print('The minimum number of b is ',min(b))
print('The sum of a is ',sum(a))
print('The sum of b is ', sum(b))

The minimum number of a is  1
The maximum number of b is  11
The maximum number of a is  6
The minimum number of b is  1
The sum of a is  21
The sum of b is  32

# No mutable sequence in a set

In [50]:
set6={'Python',1,2,3,[1,2,3]}
set6

TypeError: unhashable type: 'list'