# 8. Loops in Python

* A for loop is used for iterating over a sequence (that is either a list, s tuple, a dictionary, a set, or a string).
* This is less like the for keyword in other programming languages, and works more like an iterator method as found in other 
object- oriented programming languages.
* With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.
* The for loop does not require an indexing variable to set beforehand.
* With the while loop we can execute a set of statements as long as a condition is true.
* Note: remember to increment i, or else the loop will continue forever.
* The while loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we 
set to 1.

# range() function

* It is helpful to think of the range object as an ordered list.
* To loop though a set of code a specified number of times, we can use the range() fuctions.
* The range() functions returns a sequence of numbers, starting from 0 by default, and increments by 1(by default) and ends at a spefified number.

In [1]:
# Take a range() functions
print(range(100))
print(range(5))

range(0, 100)
range(0, 5)

# for loop

* The for loop enables you to execute a code block multiple times.

In [2]:
# Take an example
# Directly accessing to the element in the list.

years=[2025,2006,2007,2008,2009,2010]

for s in years:
    print(s)

2025
2006
2007
2008
2009
2010

In [3]:
# Take an example
# Directly accessing to the element in the list.

years=[2025,2006,2007,2008,2009,2010]

for i in years:
    print(i)

2025
2006
2007
2008
2009
2010

In [4]:
# Another for loop example

for i in range(2,12):
    print(i)

2
3
4
5
6
7
8
9
10
11

In [5]:
for i in range(2,12,3): #printing loops with step value
    print(i)

2
5
8
11

In [6]:
# Changing the element in the list.
languages=['Java','JavaScripts','C','C++','PHP']

for i in range(len(languages)):
    print('Before language',i,'is',languages[i])
    languages[i]='Python'
    print('After language',i,'is',languages[i])

Before language 0 is Java
After language 0 is Python
Before language 1 is JavaScripts
After language 1 is Python
Before language 2 is C
After language 2 is Python
Before language 3 is C++
After language 3 is Python
Before language 4 is PHP
After language 4 is Python

In [7]:
languages=['Java','JavaScripts','C','C++','PHP']

for index,language in enumerate(languages):
    print(index,language)

0 Java
1 JavaScripts
2 C
3 C++
4 PHP

In [8]:
# Take the numbers between -3 and 6 using for loop
# use range() function
for i in range(-3,7):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6

In [9]:
# How to print table with for loop

number=int(input('Enter any number: '))
number1=int(input('Enter second number: '))

print(f'The entered number is {number} and {number1}.')

for i in range(1,11):
    print('%d x %d = %d' %(number,i,number*i),',',('%d x %d = %d' %(number1,i,number1*i))

SyntaxError: unexpected EOF while parsing (Temp/ipykernel_11044/4078660408.py, line 9)

In [10]:
number=int(input('enter table no.= '))
number1=int(input('enter table no.= '))
number2=int(input('enter table no.= '))
print(f'the entered no. is ={number}.')

for i in range(1,11):
    print('%d x %d = %d' %(number,i,number*i),',','%d x %d = %d' %(number1,i,number1*i),',', '%d x %d = %d' %(number2,i,number2*i))

enter table no.= 25
enter table no.= 24
enter table no.= 63
the entered no. is =25.
25 x 1 = 25 , 24 x 1 = 24 , 63 x 1 = 63
25 x 2 = 50 , 24 x 2 = 48 , 63 x 2 = 126
25 x 3 = 75 , 24 x 3 = 72 , 63 x 3 = 189
25 x 4 = 100 , 24 x 4 = 96 , 63 x 4 = 252
25 x 5 = 125 , 24 x 5 = 120 , 63 x 5 = 315
25 x 6 = 150 , 24 x 6 = 144 , 63 x 6 = 378
25 x 7 = 175 , 24 x 7 = 168 , 63 x 7 = 441
25 x 8 = 200 , 24 x 8 = 192 , 63 x 8 = 504
25 x 9 = 225 , 24 x 9 = 216 , 63 x 9 = 567
25 x 10 = 250 , 24 x 10 = 240 , 63 x 10 = 630

In [11]:
# Take a list
nlis=[0,577,2.718,3.147,1.618,1728,6,37]

# Write a condition for loops for addition

count=0
for i in nlis:
    count+=i
print('The total value of the number in the list is: ',count)

The total value of the number in the list is:  2355.483

In [12]:
for i in range(1,7):
    print(i,end=',')
else:
    print('These are numbers for 1 to 6')

1,2,3,4,5,6,These are numbers for 1 to 6

# nasted for loop

In [13]:
num=int(input('Enter a number: '))
print(f'The number entered by the user is{num}.')
i,j=0,0
for i in range(0,num):
    print()
    for j in range(0,i+1):
        print('*',end=',')

Enter a number: 12
The number entered by the user is12.

*,
*,*,
*,*,*,
*,*,*,*,
*,*,*,*,*,
*,*,*,*,*,*,
*,*,*,*,*,*,*,
*,*,*,*,*,*,*,*,
*,*,*,*,*,*,*,*,*,
*,*,*,*,*,*,*,*,*,*,
*,*,*,*,*,*,*,*,*,*,*,
*,*,*,*,*,*,*,*,*,*,*,*,

In [14]:
# Take a list #Break
nlis=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]

for i in nlis:
    if i==10:
        break
    print(i)

1
2
3
4
5
6
7
8
9

In [15]:
#Continue 
nlis1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]

for i in nlis1:
    if i==5:
        continue
    print(i)
    
'''You see that output includes the numbers without 5.
The continue function jumps when it meets with the reference.
'''

1
2
3
4
6
7
8
9
10
11
12
13
14

'You see that output includes the numbers without 5.\nThe continue function jumps when it meets with the reference.\n'

In [16]:
# 1. Write first 10 natural numbers using for loops.

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
n=11
for i in range(1,n):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [18]:
# 2. Write the program to print all the even numbers within the given number 10.

given_number=int(input('Enter any number: '))

for i in range(given_number):
    if i%2==0:
        print(i)

Enter any number: 52
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [19]:
# Write a program to calculate the sum of all the numbers from 1 to number 10.

given_number=10

sum=0
for i in range(1,given_number+1):
    sum+=i
print(sum)

55

In [20]:
# Write a program to calculate the sum of all the odd number within the given range 10.
number=10
sum=0
for i in range(1,number):
    if i%2!=0:
        sum+=i
print('The addition of total of odd numbers 1 to 10 is: ',sum)

The addition of total of odd numbers 1 to 10 is:  25

In [21]:
# Write a program to count the total number of digits in a number.

given_number=1524658955

given_number=str(given_number)

count=0

for i in given_number:
    count+=1
    
print(count)

10

In [22]:
# write a program to check if the given string is a palindrome.

# given string is madam

given_string='madam'

reverse_string=''

for i in given_string:
    reverse_string=i+reverse_string
    
if(given_string==reverse_string):
    print('The String', given_string, 'is a palindrome')
    
else:
    print('The string',given_string,'is not a palindrome')

The String madam is a palindrome

In [23]:
given_string=input('Enter your Palindrome words: ')

reverse_string=''

for i in given_string:
    reverse_string=i+reverse_string
    
if(given_string==reverse_string):
    print('The String', given_string, 'is a palindrome')
    
else:
    print('The string',given_string,'is not a palindrome')

Enter your Palindrome words: madam
The String madam is a palindrome

In [24]:
# Write a program to accept a word from the user and reverse it.

given_string=input('Enter any word for reverse: ')

reverse_string=""

for i in given_string:
    reverse_string=i + reverse_string
    
print("The Words is reversed: ",reverse_string)

Enter any word for reverse: ayush
The Words is reversed:  hsuya

In [27]:
# Write a program to check if a given number is an Armstrong number?

given_number=str(input('Enter any number: '))

#given_number=str(given_number)

string_length=len(given_number)

sum=0

for i in given_number:
    sum+=int(i)**string_length
    
    
if sum==int(given_number):
    print('The given number', given_number,' is an Armstrong number.')
    
else:
    print('The given number', given_number,' is not Armstrong number.')

Enter any number: 153
The given number 153  is an Armstrong number.

In [28]:
# Write a program to count the number of even and odd numbers froma a series of numbers.

num_list=[1,3,5,6,7,99,137,138,55,100,121,105,122,800]


for i in num_list:
    if i%2==0:
        print(i,' is even number.')
        
    else:
        print(i,' is odd number.')

1  is odd number.
3  is odd number.
5  is odd number.
6  is even number.
7  is odd number.
99  is odd number.
137  is odd number.
138  is even number.
55  is odd number.
100  is even number.
121  is odd number.
105  is odd number.
122  is even number.
800  is even number.

In [29]:
# write a program to find the factorial of a given number.

given_number=int(input('Enter any number: '))

factorial=1

for i in range(1,given_number+1):
    factorial=factorial*i
    
print('The factorial of ',given_number,'is', factorial)

Enter any number: 153
The factorial of  153 is 200634390509568239477828874698911718566246149616161171934231099284840946025238092339613294062603588435530393145048663047173051913507711632216305667129554900620296603188543122491838966881134795135997316305640071571629943041039657861120000000000000000000000000000000000000

In [30]:
# Write a program to convert the month name to number of days.

month=['January','February','March','April','May','June','July','August','September','October','November','December']
for i in month:
    if i== 'February':
        print('The month of February has 28/29 days.')
    elif i in('April','June','September','November'):
        print('The month of ',i,' has 30 days')
    elif i in('January','March','May','July','August','October','December'):
        print('The month of ',i, 'has 31 days')
    else:
        print(i, "is not a valid Month name.")

The month of  January has 31 days
The month of February has 28/29 days.
The month of  March has 31 days
The month of  April  has 30 days
The month of  May has 31 days
The month of  June  has 30 days
The month of  July has 31 days
The month of  August has 31 days
The month of  September  has 30 days
The month of  October has 31 days
The month of  November  has 30 days
The month of  December has 31 days

# While loop

* The while loop exists as a tool for repeated execution based on a condition. The code block will keep being executed
unitl the given condition returns a False boolean value.

In [31]:
# Take an example

i=22
while i<27:
    print(i)
    i+=1

22
23
24
25
26

In [32]:
#Take an example

i=22

while i>=17:
    print(i)
    i-=1

22
21
20
19
18
17

In [33]:
i=100
while i>=1:
    print(i)
    i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [36]:
years=[2004,2005,2006,2007,2008,2009,2010,2011]

index=0

year=years[0]
while year!=2008:
    print(year)
    index+=1
    year=years[index]
print('It gives us only',index,'repetitions to get out of the loop')

2004
2005
2006
2007
It gives us only 4 repetitions to get out of the loop

In [42]:
movie_rating=[8.0,7.5,5.4,9.1,6.3,6.5,2.1,4.8,3.3]

index=0
for i in range(len(movie_rating)):
    if movie_rating[i]>=6:
        index+=1
        print(index,movie_rating[i])

1 8.0
2 7.5
3 9.1
4 6.3
5 6.5

In [45]:
# Write a program to print the number between 1 to 5 with while loop.

index=1
while index<=5:
    print(index,end=' ')
    index+=1
else:
    print('It gives us the numbers between 0 to 5.')

1 2 3 4 5 It gives us the numbers between 0 to 5.

In [50]:
# Continue loop

i=0
while i<=5:
    print(i)
    i+=1
    if i==3:
        continue

0
1
2
3
4
5

In [53]:
i=0

while i<=5:
    print(i)
    i+=1
    if i==3:
        break

0
1
2